<%- include('partials/header.ejs'); -%>

<div class="box" id="heading">
    <h1>
        todolist
    </h1>
</div>

<div class="box">
    <div class="item">
        <p>
            todo#1
        </p>
    </div>
    <div class="item">
        <p>
            todo#2
        </p>
    </div>
</div>

<%- include('partials/footer.ejs'); -%>

