<%- include('partials/header.ejs'); -%>
<h2>
    total todo: <%= total %>
</h2>

<main>
    <div class="containerheading">
        <div class="box" id="heading">
            <h1>
                todolist
            </h1>
        </div>
    </div>
    <div class>

    </div>
    <div class="box">
        <% allToDo.forEach((todo) => { %>
            <div class="item">
                <p>
                    <%= todo.activity %>
                </p>
            </div>
        <% }); %>
    </div>

<%- include('partials/footer.ejs'); -%>

